.image-crop-modal {
  width: auto;
  max-width: 80vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-crop-modal .ReactCrop {
  max-height: 70vh;
  margin-bottom: 20px;
}

.image-crop-modal .ReactCrop__image {
  max-height: 70vh;
}
